.subject1 {

    background-color: #ff8787; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 40%;  
    margin-left: 30%;

  }
  a{text-decoration: none;
    color: #000000;}

.subject2 {

    background-color: #ffc97d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 40%;
    float: right;
    margin-right: 30%;

}
.subject3 {

    background-color: #fffeb8;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 40%;
    margin-left: 30%;

}
.subject4 {

    background-color: #bdffd3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 40%;
    margin-right: 30%;

}
.top, .bottom{ display: flex; flex-direction: row; justify-content: space-between;}
.top{margin-bottom: 20%;}

body{
    background-color: #f5dde6;
}
img{position: absolute; top: 20%; left: 38%;
}

